<!-- footer Start -->
<footer clas="no-print">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="footer-manu no-print">
                    <ul>
                        <li><a href="{{ site.baseurl }}/index.html#">About Me</a></li>
                        <li><a href="{{ site.baseurl }}/portfolio/">Writing Portfolio</a></li>
                        <li><a href="{{ site.baseurl }}/contact">Contact</a></li>
                        <!--                        <li><a href="{{ site.baseurl }}/blog">Blog</a></li>-->
                    </ul>
                </div>
                        <ul class="social-icons">
                            <li>
                                <a href="https://www.linkedin.com/in/sboroda/"><i class="fa fa-linkedin"></i></a>
                            </li>
                            <li>
                                <a href="https://github.com/imnotashrimp"><i class="fa fa-github"></i></a>
                            </li>
                        </ul>
                <p>Copyright &copy; 2018 Shalom Boroda. Theme designed &amp; developed by <a href="http://www.themefisher.com">Themefisher</a>, modified by Shalom Boroda. All rights reserved.</p>
            </div>
        </div>
    </div>
</footer>
